# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.so

# C extensions
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.cache
.pytest_cache/

# MyPy / Ruff / Pylint / other static analysis tools
.mypy_cache/
.dmypy.json
.pyre/
ruff_cache/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Secrets / env vars
.env
.env.*
